<!DOCTYPE html>
<html lang="vi">

<head>
  <title>Keep Tasks</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="keep, tasks">
  <meta name="description" content="Keep Tasks">
  <!--    <meta name="author" content="">-->
  <!--    <meta name="copyright" content="">-->
  <!--    <meta name="generator" content="">-->
  <meta name="robots" content="index, follow">

  <!--  <link href="favicon/favicon.ico" rel="icon" type="image/x-icon">-->

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

  <!-- Landing CSS -->
  <link rel="stylesheet" href="https://j2team.dev/assets/front/css/landing.css?id=a02ee0e333d575c2399f">

</head>
<body>

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
  <!-- Hero Section -->
  <div class="gradient-y-sm-primary position-relative z-index-2 overflow-hidden">
    <div class="container space-top-2 space-top-lg-4 position-relative">
      <!-- Title -->
      <div class="w-md-80 w-lg-80 text-center mx-md-auto mb-5 mb-md-9">
        <h1 class="display-4 mb-3">少ない管理で。多くを実行する。</h1>
        <p class="lead">KeepTasksは、 <span
          class="js-text-animation font-weight-bold"></span></p>
      </div>
      <!-- End Title -->

      <!-- Chức năng -->
      <div class="js-slick-carousel slick slick-gutters-3 z-index-2"
           data-hs-slick-carousel-options='{
           "slidesToShow": 5,
           "dots": true,
           "dotsClass": "slick-pagination d-lg-none",
           "responsive": [{
             "breakpoint": 1200,
               "settings": {
                 "slidesToShow": 4
               }
             }, {
             "breakpoint": 992,
             "settings": {
               "slidesToShow": 3
               }
             }, {
             "breakpoint": 768,
             "settings": {
               "slidesToShow": 2
               }
             }, {
             "breakpoint": 554,
             "settings": {
               "slidesToShow": 1
             }
           }]
         }' style="text-align: center;">


        <div class="js-slide mt-1">
          <!-- Icon Block -->
          <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
            <div class="card-header bg-warning text-center rounded-top">
              <div class="avatar d-block bg-white rounded p-2 mx-auto">
                <img class="avatar-img"
                     src="https://cdn1.meistertask.com/assets/content/home/lightning-c56cb00d22e63c2fad2bf9686b173d968af1b388f933eeeb395c05afe23fac68.svg"
                     alt="lightning" loading="lazy" width="34" height="34">
              </div>
            </div>
            <div class="card-body" style="min-height: 220px">
              <div class="mb-3">
                <h3 class="h4 mb-1">使いやすさ</h3>
                <small class="d-block text-body">チームに適したオンラインタスク管理ツールを選択する上で、シンプルさは重要です。</small>
              </div>
            </div>
          </article>
          <!-- End Icon Block -->
        </div>

        <div class="js-slide mt-1">
          <!-- Icon Block -->
          <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
            <div class="card-header bg-danger text-center rounded-top">
              <div class="avatar d-block bg-white rounded p-2 mx-auto">
                <img class="avatar-img"
                     src="https://cdn1.meistertask.com/assets/content/home/bulb-8479ecd4de3c65ff44947f01be5b18d3f58c84ded975034dc7283d84a5d6f365.svg"
                     alt="death-click" loading="lazy" width="34" height="34">
              </div>
            </div>
            <div class="card-body" style="min-height: 220px">
              <div class="mb-3">
                <h4 class="mb-1">カスタマイズ</h4>
                <small class="d-block text-body">最も重要な機能をカスタマイズして提供することに重点を置いています。
                </small>
              </div>

            </div>
          </article>
          <!-- End Icon Block -->
        </div>

        <div class="js-slide mt-1">
          <!-- Icon Block -->
          <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
            <div class="card-header bg-success text-center rounded-top">
              <div class="avatar d-block bg-white rounded p-2 mx-auto">
                <img class="avatar-img" src="https://cdn3.meistertask.com/assets/content/home/collaboration-9b3a5e460a10c885dfb889c54eff96debdbc8f31a5c5561ff6a9637ff20ba867.svg"
                     loading="lazy" width="34" height="34">
              </div>
            </div>
            <div class="card-body" style="min-height: 220px">
              <div class="mb-3">
                <h4 class="mb-1">共同作業</h4>
                <small class="d-block text-body">チームが効率的に連携する手段を提供します。他の人が取り組んでいるものを表示させることができます。</small>
              </div>

            </div>
          </article>
          <!-- End Icon Block -->
        </div>

        <div class="js-slide mt-1">
          <!-- Icon Block -->
          <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
            <div class="card-header bg-primary text-center rounded-top">
              <div class="avatar d-block bg-white rounded p-2 mx-auto">
                <img class="avatar-img"
                     src="https://cdn1.meistertask.com/assets/content/home/web-96a5249b9db8d9f1e5afbc7ab6de8dace9f5b6342eda871f6f8166e64a5a3a9c.svg"
                     loading="lazy" width="34" height="34">
              </div>
            </div>
            <div class="card-body" style="min-height: 220px">
              <div class="mb-3">
                <h4 class="mb-1">ウェブベースで作動</h4>
                <small class="d-block text-body">ダウンロードも手動の更新も必要ありません。リモートチームや、インターネットにアクセスでき、生産性を高めたいチームにぴったりです。</small>
              </div>
            </div>
          </article>
          <!-- End Icon Block -->
        </div>

        <div class="js-slide mt-1">
          <!-- Icon Block -->
          <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
            <div class="card-header bg-info text-center rounded-top">
              <div class="avatar d-block bg-white rounded p-2 mx-auto">
                <img class="avatar-img"
                     src="https://cdn4.meistertask.com/assets/content/home/mobile-4437b5a3344baec8a8c7bc1bb33acf4310cba9e44cec2f1b34f5d4f7242368b1.svg"
                     loading="lazy" width="34" height="34">
              </div>
            </div>
            <div class="card-body" style="min-height: 220px">
              <div class="mb-3">
                <h4 class="mb-1">いつでもどこでも</h4>
                <small class="d-block text-body">どこにいようとも最新情報を入手できます。Android、iOSで利用可能。これらのアプリには、オフライン機能が完全に搭載されています。
                </small>
              </div>
            </div>
          </article>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Slick Carousel -->

      <!-- SVG Shapes -->
      <figure class="position-absolute z-index-n1" style="top: -35rem; left: 50rem; width: 62rem; height: 62rem;">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             viewBox="0 0 260 260">
          <circle fill="#e7eaf3" opacity=".7" cx="130" cy="130" r="130"/>
        </svg>
      </figure>
      <figure class="position-absolute z-index-n1" style="top: 15rem; left: 70rem; width: 20rem; height: 20rem;">
        <img class="img-fluid" src="https://j2team.dev/assets/front/images/circled-stripe.svg" alt="circled" loading="lazy"
             width="320" height="320">
      </figure>
      <figure class="position-absolute z-index-n1"
              style="bottom: 7rem; left: -3rem; width: 15rem; height: 15rem;">
        <img class="img-fluid" src="https://j2team.dev/assets/front/images/dots-3.svg" alt="dots" loading="lazy" width="240"
             height="240">
      </figure>
      <!-- End SVG Shapes -->
    </div>

    <!-- SVG Bottom Shape -->
    <figure class="position-absolute right-0 bottom-0 left-0">
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
        <polygon fill="#fff" points="0,273 1921,273 1921,0 "/>
      </svg>
    </figure>
    <!-- End SVG Bottom Shape -->
  </div>
  <!-- End Hero Section -->


  <!-- Team Section -->
  <div class="container space-2">
    <!-- Title -->
    <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-5 mb-md-9">
      <span class="d-block small font-weight-bold text-cap mb-2">Thành viên</span>
      <h2>Nội Dung Được Phát Triển Bởi</h2>
    </div>
    <!-- End Title -->

    <div class="row mx-n2 mb-5">
      <div class="col-sm-4 col-lg-3 px-2 mb-3" style="margin: auto;">
        <!-- Team -->
        <div class="card h-70 transition-3d-hover">
          <div class="card-body text-center">
            <div class="avatar avatar-lg avatar-circle mb-4">
              <img class="avatar-img"
                   src="images/team/thanh.jpg"
                   alt="thanh-nguyen, thanhhff" loading="lazy" width="68" height="68">
            </div>
            <span class="d-block small font-weight-bold text-cap mb-1">@thanhhff</span>
            <h4 class="text-lh-sm">Thanh Nguyen Trung</h4>
          </div>

          <div class="card-footer border-0 pt-0 text-center">
            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded"
                   href="https://www.facebook.com/thanhhff/" target="_blank"
                   rel="noopener nofollow">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded"
                   href="https://github.com/thanhhff/" target="_blank" rel="noopener nofollow">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded"
                   href="https://www.instagram.com/thanhhff/" target="_blank" rel="noopener nofollow">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
        </div>
        <!-- End Team -->
      </div>

      <div class="col-sm-4 col-lg-3 px-2 mb-3" style="margin: auto;">
        <!-- Team -->
        <div class="card h-70 transition-3d-hover">
          <div class="card-body text-center">
            <div class="avatar avatar-lg avatar-circle mb-4">
              <img class="avatar-img"
                   src="images/team/thao.jpg"
                   alt="thao" loading="lazy" width="68" height="68">
            </div>

            <span class="d-block small font-weight-bold text-cap mb-1">@Thao</span>
            <h4 class="text-lh-sm">Thao Do Thi Hong</h4>
          </div>

          <div class="card-footer border-0 pt-0 text-center">
            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded"
                   href="https://www.facebook.com/profile.php?id=100006162760679" target="_blank"
                   rel="noopener nofollow">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
        </div>
        <!-- End Team -->
      </div>

      <div class="col-sm-4 col-lg-3 px-2 mb-3" style="margin: auto;">
        <!-- Team -->
        <div class="card h-70 transition-3d-hover">
          <div class="card-body text-center">
            <div class="avatar avatar-lg avatar-circle mb-4">
              <img class="avatar-img"
                   src="images/team/do.jpg"
                   alt="Đô" loading="lazy" width="68" height="68">
            </div>

            <span class="d-block small font-weight-bold text-cap mb-1">@Do</span>
            <h4 class="text-lh-sm">Do Le Duc</h4>
          </div>

          <div class="card-footer border-0 pt-0 text-center">
            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded"
                   href="https://www.facebook.com/profile.php?id=100018404929121" target="_blank"
                   rel="noopener nofollow">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
        </div>
        <!-- End Team -->
      </div>
    </div>


  </div>
  <!-- End Team Section -->

  <!-- CTA Section -->
  <div class="bg-primary text-center bg-img-hero"
       style="background-image: url(https://j2team.dev/assets/front/images/abstract-shapes-5.svg);">
    <div class="container space-2">
      <div class="mb-5">
        <h2 class="text-white">Bạn có câu hỏi ?</h2>
      </div>
      <a class="btn btn-light transition-3d-hover" href="https://www.facebook.com/thanhhff/" target="_blank"
         rel="noopener nofollow">Liên Hệ</a>
    </div>
  </div>
  <!-- End CTA Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

<!-- ========== FOOTER ========== -->
<footer class="container space-1">
  <div class="row align-items-md-center text-center">
    <div class="col-md-3 mb-4 mb-md-0">
      <!-- <a href="index.html" aria-label="Front">
          <img class="brand" src="logo.png" alt="lgoo" loading="lazy" width="50" height="120">
      </a> -->
    </div>

    <div class="col-sm-7 col-md-6 mb-4 mb-sm-0">
      <!-- Nav List -->
      <ul class="nav nav-sm nav-x-0 justify-content-center text-md-center">
        <li class="nav-item px-3">
          <!-- TODO -->
          <a class="nav-link" href="" target="_blank"
             rel="noopener">Về Chúng Tôi</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href=""
             target="_blank" rel="noopener">Điều Khoản Sử Dụng</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href=""
             target="_blank" rel="noopener">Chính Sách Bảo Mật</a>
        </li>
      </ul>
      <!-- End Nav List -->
    </div>

    <div class="col-sm-5 col-md-3 text-sm-right">
      <!-- Social Networks -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle"
             href="https://www.facebook.com/thanhhff/" target="_blank" rel="noopener">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle" href="https://github.com/thanhhff/"
             target="_blank" rel="noopener">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->

<!-- Go to Top -->
<a class="js-go-to go-to position-fixed" href="#" style="visibility: hidden;"
   data-hs-go-to-options='{
       "targetSelector": "#content",
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
  <i class="fas fa-angle-up"></i>
</a>
<!-- End Go to Top -->

<!-- JS Global Compulsory -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.0/jquery-migrate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

<!-- JS Front -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
<script src="https://j2team.dev/assets/front/js/landing.js"></script>

<!-- JS Plugins Init. -->
<script>
    jQuery(document).on('ready', function () {
        // initialization of text animation (typing)
        new Typed('.js-text-animation', {
            strings: ['チーム向けのオンラインタスク管理ツールです。'],
            typeSpeed: 60,
            loop: true,
            backSpeed: 25,
            backDelay: 1500
        });

        // initialization of slick carousel
        $('.js-slick-carousel').each(function () {
            $.HSCore.components.HSSlickCarousel.init($(this));
        });
    });
</script>

<script>
    $(document).on('ready', function () {
        // initialization of header
        new HSHeader($('#header')).init();

        // initialization of go to
        $('.js-go-to').each(function () {
            new HSGoTo($(this)).init();
        });
    });
</script>
</body>

</html>
