<section class="hero is-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        KeepTasksへようこそ!
      </h1>
      <h2 class="subtitle">
        Ruby on Railsで構築された小さなプロジェクト管理アプリ
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <div class="content">
          <h3 class="title is-3">KeepTasksは、チーム向けのオンラインタスク管理ツールです。</h3>
          <p>世界中のチームがKeepTasksはを使用し、個々のニーズに合わせて美しく設計されたカスタマイズ可能な環境で、タスクを整理・管理することができます。カンバン方式のプロジェクトボードにより、チームは合理化かつ自動化されたワークフローを作成し、共により多くのことを達成することができます。生産性の向上に取り組みましょう。</p>
        </div>
      </div>
      <div class="column is-4 is-offset1">
        <h4 class="subtitle is-4">無料で新規登録</h4>
        <%= link_to 'サインアップ', new_user_registration_path, class: 'button is-link is-outlined' %>
      </div>
    </div>
  </div>
</section>