<!DOCTYPE html>
<html lang="vi">

<head>
  <title>Keep Tasks</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="keep, tasks">
  <meta name="description" content="Keep Tasks">
  <!--    <meta name="author" content="">-->
  <!--    <meta name="copyright" content="">-->
  <!--    <meta name="generator" content="">-->
  <meta name="robots" content="index, follow">

  <!--  <link href="favicon/favicon.ico" rel="icon" type="image/x-icon">-->

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

  <!-- Landing CSS -->
  <link rel="stylesheet" href="https://j2team.dev/assets/front/css/landing.css?id=a02ee0e333d575c2399f">

</head>
<body>
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
  <!-- Hero Section -->
  <div class="gradient-y-sm-primary position-relative z-index-2 overflow-hidden">
    <div class="container space-top-2 space-top-lg-4 position-relative">
      <!-- Title -->
      <div class="w-md-80 w-lg-80 text-center mx-md-auto mb-5 mb-md-9">
        <h1 class="display-4 mb-2">Manage Less. Do More.</h1>
        <p class="lead">Keep Tasks <span
          class="js-text-animation font-weight-bold"></span></p>
      </div>
      <!-- End Title -->

      <!-- Chức năng -->
      <div class="js-slick-carousel slick slick-gutters-3 z-index-2" data-hs-slick-carousel-options='{
           "slidesToShow": 5,
           "dots": true,
           "dotsClass": "slick-pagination d-lg-none",
           "responsive": [{
             "breakpoint": 1200,
               "settings": {
                 "slidesToShow": 4
               }
             }, {
             "breakpoint": 992,
             "settings": {
               "slidesToShow": 3
               }
             }, {
             "breakpoint": 768,
             "settings": {
               "slidesToShow": 2
               }
             }, {
             "breakpoint": 554,
             "settings": {
               "slidesToShow": 1
             }
           }]
         }' style="text-align: center;">


        <div class="js-slide mt-1">
          <!-- Icon Block -->
          <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
            <div class="card-header bg-warning text-center rounded-top">
              <div class="avatar d-block bg-white rounded p-2 mx-auto">
                <img class="avatar-img"
                     src="https://cdn1.meistertask.com/assets/content/home/custom-field-50af3565ab1c93cce534f9aeeea6b91c563e1e782b556025e01196ce77a702d2.svg"
                     alt="lightning" loading="lazy"
                     width="34" height="34">
              </div>
            </div>
            <div class="card-body" style="min-height: 230px">
              <div class="mb-3">
                <h3 class="h4 mb-1">Custom Fields</h3>
                <small class="d-block text-body">Define custom fields for your projects. These fields
                  automatically appear within each task, reminding team members to complete this
                  information.
                </small>
              </div>
            </div>
          </article>
          <!-- End Icon Block -->
        </div>

        <div class="js-slide mt-1">
          <!-- Icon Block -->
          <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
            <div class="card-header bg-danger text-center rounded-top">
              <div class="avatar d-block bg-white rounded p-2 mx-auto">
                <img class="avatar-img"
                     src="https://cdn2.meistertask.com/assets/content/home/time-tracking-53194a532d85a7793532d71f4afcbd9715cc5e4326e13753eec51a7e271e68a8.svg"
                     alt="death-click" loading="lazy"
                     width="34" height="34">
              </div>
            </div>
            <div class="card-body" style="min-height: 230px">
              <div class="mb-3">
                <h4 class="mb-1">Time Tracking</h4>
                <small class="d-block text-body">Ready, set, go! Know exactly how long it took you to
                  complete a task by making use of MeisterTask’s built-in time tracking.</small>
              </div>

            </div>
          </article>
          <!-- End Icon Block -->
        </div>

        <div class="js-slide mt-1">
          <!-- Icon Block -->
          <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
            <div class="card-header bg-success text-center rounded-top">
              <div class="avatar d-block bg-white rounded p-2 mx-auto">
                <img class="avatar-img"
                     src="https://cdn3.meistertask.com/assets/content/home/multiple-checklist-b6b21f9c364e71b08889d364fa310cdb1c47cd7d6d22a9ac18cdbe157dce64f9.svg"
                     loading="lazy" width="34"
                     height="34">
              </div>
            </div>
            <div class="card-body" style="min-height: 230px">
              <div class="mb-3">
                <h4 class="mb-1">Multiple Checklists</h4>
                <small class="d-block text-body">Break up long lists of to-dos into manageable sub-lists
                  that can be saved and reused.

                </small>
              </div>

            </div>
          </article>
          <!-- End Icon Block -->
        </div>

        <div class="js-slide mt-1">
          <!-- Icon Block -->
          <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
            <div class="card-header bg-primary text-center rounded-top">
              <div class="avatar d-block bg-white rounded p-2 mx-auto">
                <img class="avatar-img"
                     src="https://cdn1.meistertask.com/assets/content/home/automation-e2d6ccc23889a22e6d120fdbf718d547ae0df70f60190493a4e1e1a969a658a8.svg"
                     loading="lazy" width="34"
                     height="34">
              </div>
            </div>
            <div class="card-body" style="min-height: 230px">
              <div class="mb-3">
                <h4 class="mb-1">Automations</h4>
                <small class="d-block text-body">Configure automatic actions within your projects and
                  let our system do all the work for you. That way you work smarter, not harder.

                </small>
              </div>
            </div>
          </article>
          <!-- End Icon Block -->
        </div>

        <div class="js-slide mt-1">
          <!-- Icon Block -->
          <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
            <div class="card-header bg-info text-center rounded-top">
              <div class="avatar d-block bg-white rounded p-2 mx-auto">
                <img class="avatar-img"
                     src="https://cdn1.meistertask.com/assets/content/home/task-relation-d03014d6f04a211eead8968c02befc6c14a4a3e21f08e8b6329c0a24762f3eb2.svg"
                     loading="lazy" width="34"
                     height="34">
              </div>
            </div>
            <div class="card-body" style="min-height: 230px">
              <div class="mb-3">
                <h4 class="mb-1">Task Relationships</h4>
                <small class="d-block text-body">Mark tasks as related to, duplicated or blocked by
                  other tasks. Get notified when a blockage is resolved.
                </small>
              </div>
            </div>
          </article>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Slick Carousel -->

      <!-- SVG Shapes -->
      <figure class="position-absolute z-index-n1" style="top: -35rem; left: 50rem; width: 62rem; height: 62rem;">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             viewBox="0 0 260 260">
          <circle fill="#e7eaf3" opacity=".7" cx="130" cy="130" r="130"/>
        </svg>
      </figure>
      <figure class="position-absolute z-index-n1" style="top: 15rem; left: 70rem; width: 20rem; height: 20rem;">
        <img class="img-fluid" src="https://j2team.dev/assets/front/images/circled-stripe.svg" alt="circled" loading="lazy"
             width="320" height="320">
      </figure>
      <figure class="position-absolute z-index-n1"
              style="bottom: 7rem; left: -3rem; width: 15rem; height: 15rem;">
        <img class="img-fluid" src="https://j2team.dev/assets/front/images/dots-3.svg" alt="dots" loading="lazy" width="240"
             height="240">
      </figure>
      <!-- End SVG Shapes -->
    </div>

    <!-- SVG Bottom Shape -->
    <figure class="position-absolute right-0 bottom-0 left-0">
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
        <polygon fill="#fff" points="0,273 1921,273 1921,0 "/>
      </svg>
    </figure>
    <!-- End SVG Bottom Shape -->
  </div>
  <!-- End Hero Section -->


  <!-- CTA Section -->
  <div class="bg-primary text-center bg-img-hero"
       style="background-image: url(https://j2team.dev/assets/front/images/abstract-shapes-5.svg);">
    <div class="container space-2">
      <div class="mb-5">
        <h2 class="text-white">Contact Us</h2>
      </div>
      <a class="btn btn-light transition-3d-hover" href="https://www.facebook.com/thanhhff/" target="_blank"
         rel="noopener nofollow">Contact</a>
    </div>
  </div>
  <!-- End CTA Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

<!-- ========== FOOTER ========== -->
<footer class="container space-1">
  <div class="row align-items-md-center text-center">
    <div class="col-md-3 mb-4 mb-md-0">
      <!-- <a href="index.html" aria-label="Front">
      <img class="brand" src="logo.png" alt="lgoo" loading="lazy" width="50" height="120">
  </a> -->
    </div>

    <div class="col-sm-7 col-md-6 mb-4 mb-sm-0">
      <!-- Nav List -->
      <ul class="nav nav-sm nav-x-0 justify-content-center text-md-center">
        <li class="nav-item px-3">
          <!-- TODO -->
          <a class="nav-link" href="" target="_blank" rel="noopener">About</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="" target="_blank" rel="noopener">Terms of Service</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="" target="_blank" rel="noopener">Privacy Policy</a>
        </li>
      </ul>
      <!-- End Nav List -->
    </div>

    <div class="col-sm-5 col-md-3 text-sm-right">
      <!-- Social Networks -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle"
             href="https://www.facebook.com/thanhhff/" target="_blank" rel="noopener">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle" href="https://github.com/thanhhff/"
             target="_blank" rel="noopener">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->

<!-- Go to Top -->
<a class="js-go-to go-to position-fixed" href="#" style="visibility: hidden;" data-hs-go-to-options='{
       "targetSelector": "#content",
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
  <i class="fas fa-angle-up"></i>
</a>
<!-- End Go to Top -->

<!-- Go to Top -->
<a class="js-go-to go-to position-fixed" href="#" style="visibility: hidden;"
   data-hs-go-to-options='{
       "targetSelector": "#content",
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
  <i class="fas fa-angle-up"></i>
</a>
<!-- End Go to Top -->

<!-- JS Global Compulsory -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.0/jquery-migrate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

<!-- JS Front -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
<script src="https://j2team.dev/assets/front/js/landing.js"></script>

<!-- JS Plugins Init. -->
<script>
    jQuery(document).on('ready', function () {
        // initialization of text animation (typing)
        new Typed('.js-text-animation', {
            strings: ['is an online task management tool for teams.'],
            typeSpeed: 60,
            loop: true,
            backSpeed: 25,
            backDelay: 1500
        });

        // initialization of slick carousel
        $('.js-slick-carousel').each(function () {
            $.HSCore.components.HSSlickCarousel.init($(this));
        });
    });
</script>

<script>
    $(document).on('ready', function () {
        // initialization of header
        new HSHeader($('#header')).init();

        // initialization of go to
        $('.js-go-to').each(function () {
            new HSGoTo($(this)).init();
        });
    });
</script>
</body>

</html>
